In [5]:
import pandas as pd

In [6]:
df1 = pd.read_csv('Cardiotocographic.csv')

In [7]:
df1.head()

,LB,AC,FM,UC,DL,DS,DP,ASTV,MSTV,ALTV,MLTV,Width,Tendency,NSP
0,120.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,73.0,0.5,43.0,2.4,64.0,0.999926,2.0
1,132.000000,0.006380,0.0,0.006380,0.003190,0.0,0.0,17.0,2.1,0.0,10.4,130.0,0.000000,1.0
2,133.000000,0.003322,0.0,0.008306,0.003322,0.0,0.0,16.0,2.1,0.0,13.4,130.0,0.000000,1.0
3,134.000000,0.002561,0.0,0.007742,0.002561,0.0,0.0,16.0,2.4,0.0,23.0,117.0,1.000000,1.0
4,131.948232,0.006515,0.0,0.008143,0.000000,0.0,0.0,16.0,2.4,0.0,19.9,117.0,1.000000,1.0

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2126 entries, 0 to 2125
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LB        2105 non-null   float64
 1   AC        2106 non-null   float64
 2   FM        2126 non-null   float64
 3   UC        2126 non-null   float64
 4   DL        2126 non-null   float64
 5   DS        2105 non-null   float64
 6   DP        2105 non-null   float64
 7   ASTV      2126 non-null   float64
 8   MSTV      2126 non-null   float64
 9   ALTV      2126 non-null   float64
 10  MLTV      2105 non-null   float64
 11  Width     2105 non-null   float64
 12  Tendency  2105 non-null   float64
 13  NSP       2105 non-null   float64
dtypes: float64(14)
memory usage: 232.7 KB

In [11]:
df1.describe()

,LB,AC,FM,UC,DL,DS,DP,ASTV,MSTV,ALTV,MLTV,Width,Tendency,NSP
count,2105.000000,2106.000000,2126.000000,2126.000000,2126.000000,2105.000000,2105.000000,2126.000000,2126.000000,2126.000000,2105.000000,2105.000000,2105.000000,2105.000000
mean,133.343598,0.003219,0.009894,0.004391,0.001895,0.000003,0.000175,46.995984,1.364378,10.285964,8.284887,70.429260,0.316371,1.304507
std,11.270154,0.004391,0.067540,0.003340,0.003343,0.000142,0.000840,18.813973,1.173632,21.205041,7.772858,42.931822,0.645622,0.644619
min,51.842487,-0.019284,-0.480634,-0.014925,-0.015393,-0.001353,-0.005348,-63.000000,-6.600000,-91.000000,-50.700000,-174.000000,-3.000000,-1.025988
25%,126.000000,0.000000,0.000000,0.001851,0.000000,0.000000,0.000000,32.000000,0.700000,0.000000,4.600000,37.000000,0.000000,1.000000
50%,133.000000,0.001634,0.000000,0.004484,0.000000,0.000000,0.000000,49.000000,1.200000,0.000000,7.400000,67.000000,0.000000,1.000000
75%,140.000000,0.005650,0.002567,0.006536,0.003289,0.000000,0.000000,61.000000,1.700000,11.000000,10.900000,100.000000,1.000000,1.000000
max,214.000000,0.038567,0.961268,0.030002,0.030769,0.002706,0.010695,162.000000,13.800000,182.000000,101.400000,357.000000,3.000000,5.000000

In [12]:
print("Missing Values Count:")
print(df1.isnull().sum())

Missing Values Count:
LB          21
AC          20
FM           0
UC           0
DL           0
DS          21
DP          21
ASTV         0
MSTV         0
ALTV         0
MLTV        21
Width       21
Tendency    21
NSP         21
dtype: int64

In [14]:
col1 = df1.select_dtypes(include=['int64', 'float64' , 'object']).columns

In [15]:
for col in col1:
    df1[col] = df1[col].fillna(df1[col].mode()[0])

In [16]:
print("Missing Values Count:")
print(df1.isnull().sum())

Missing Values Count:
LB          0
AC          0
FM          0
UC          0
DL          0
DS          0
DP          0
ASTV        0
MSTV        0
ALTV        0
MLTV        0
Width       0
Tendency    0
NSP         0
dtype: int64

In [18]:
print("Before correction:")
print(df1.dtypes)

Before correction:
LB          float64
AC          float64
FM          float64
UC          float64
DL          float64
DS          float64
DP          float64
ASTV        float64
MSTV        float64
ALTV        float64
MLTV        float64
Width       float64
Tendency    float64
NSP         float64
dtype: object

In [21]:
import numpy as np
def remove_outliers_iqr(dataframe, columns):
    for col in columns:
        Q1 = dataframe[col].quantile(0.25)
        Q3 = dataframe[col].quantile(0.75)
        IQR = Q3 - Q1
        
        lower_limit = Q1 - 1.5 * IQR
        upper_limit = Q3 + 1.5 * IQR
        
        # Replace outliers with boundary values (capping)
        dataframe[col] = np.where(dataframe[col] < lower_limit, lower_limit, dataframe[col])
        dataframe[col] = np.where(dataframe[col] > upper_limit, upper_limit, dataframe[col])
    
    return dataframe

df1 = remove_outliers_iqr(df1, col1)
print("Data after removing outliers:")
print(df1.describe())

Data after removing outliers:
                LB           AC           FM           UC           DL  \
count  2126.000000  2126.000000  2126.000000  2126.000000  2126.000000
mean    133.290331     0.003117     0.001568     0.004362     0.001770
std       9.930268     0.003838     0.002485     0.003001     0.002668
min     105.000000    -0.008409    -0.003850    -0.005177    -0.004934
25%     126.000000     0.000000     0.000000     0.001851     0.000000
50%     133.000000     0.001572     0.000000     0.004484     0.000000
75%     140.000000     0.005606     0.002567     0.006536     0.003289
max     161.000000     0.014015     0.006416     0.013564     0.008224

           DS      DP         ASTV         MSTV         ALTV         MLTV  \
count  2126.0  2126.0  2126.000000  2126.000000  2126.000000  2126.000000
mean      0.0     0.0    46.981873     1.304644     6.691678     7.939151
std       0.0     0.0    17.612745     0.781091    10.378400     5.122888
min       0.0     0.0   -11.500000    -0.800000   -16.500000    -4.950000
25%       0.0     0.0    32.000000     0.700000     0.000000     4.500000
50%       0.0     0.0    49.000000     1.200000     0.000000     7.400000
75%       0.0     0.0    61.000000     1.700000    11.000000    10.800000
max       0.0     0.0   104.500000     3.200000    27.500000    20.250000

             Width     Tendency     NSP
count  2126.000000  2126.000000  2126.0
mean     70.010627     0.316537     1.0
std      39.691727     0.622406     0.0
min     -57.500000    -1.500000     1.0
25%      37.000000     0.000000     1.0
50%      67.000000     0.000000     1.0
75%     100.000000     1.000000     1.0
max     194.500000     2.500000     1.0

In [23]:
df1.to_csv("Cardiotocographic_cleaned.csv", index=False)

print("Cleaning Completed Successfully!")
print("Cleaned file saved as: Cardiotocographic_cleaned.csv")

Cleaning Completed Successfully!
Cleaned file saved as: Cardiotocographic_cleaned.csv

In [25]:
df2 = pd.read_csv('Cardiotocographic_cleaned.csv')

In [26]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2126 entries, 0 to 2125
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LB        2126 non-null   float64
 1   AC        2126 non-null   float64
 2   FM        2126 non-null   float64
 3   UC        2126 non-null   float64
 4   DL        2126 non-null   float64
 5   DS        2126 non-null   float64
 6   DP        2126 non-null   float64
 7   ASTV      2126 non-null   float64
 8   MSTV      2126 non-null   float64
 9   ALTV      2126 non-null   float64
 10  MLTV      2126 non-null   float64
 11  Width     2126 non-null   float64
 12  Tendency  2126 non-null   float64
 13  NSP       2126 non-null   float64
dtypes: float64(14)
memory usage: 232.7 KB

In [27]:
df2.describe()

,LB,AC,FM,UC,DL,DS,DP,ASTV,MSTV,ALTV,MLTV,Width,Tendency,NSP
count,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.0,2126.0,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.000000,2126.0
mean,133.290331,0.003117,0.001568,0.004362,0.001770,0.0,0.0,46.981873,1.304644,6.691678,7.939151,70.010627,0.316537,1.0
std,9.930268,0.003838,0.002485,0.003001,0.002668,0.0,0.0,17.612745,0.781091,10.378400,5.122888,39.691727,0.622406,0.0
min,105.000000,-0.008409,-0.003850,-0.005177,-0.004934,0.0,0.0,-11.500000,-0.800000,-16.500000,-4.950000,-57.500000,-1.500000,1.0
25%,126.000000,0.000000,0.000000,0.001851,0.000000,0.0,0.0,32.000000,0.700000,0.000000,4.500000,37.000000,0.000000,1.0
50%,133.000000,0.001572,0.000000,0.004484,0.000000,0.0,0.0,49.000000,1.200000,0.000000,7.400000,67.000000,0.000000,1.0
75%,140.000000,0.005606,0.002567,0.006536,0.003289,0.0,0.0,61.000000,1.700000,11.000000,10.800000,100.000000,1.000000,1.0
max,161.000000,0.014015,0.006416,0.013564,0.008224,0.0,0.0,104.500000,3.200000,27.500000,20.250000,194.500000,2.500000,1.0

In [29]:
df2.head()

,LB,AC,FM,UC,DL,DS,DP,ASTV,MSTV,ALTV,MLTV,Width,Tendency,NSP
0,120.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,73.0,0.5,27.5,2.40,64.0,0.999926,1.0
1,132.000000,0.006380,0.0,0.006380,0.003190,0.0,0.0,17.0,2.1,0.0,10.40,130.0,0.000000,1.0
2,133.000000,0.003322,0.0,0.008306,0.003322,0.0,0.0,16.0,2.1,0.0,13.40,130.0,0.000000,1.0
3,134.000000,0.002561,0.0,0.007742,0.002561,0.0,0.0,16.0,2.4,0.0,20.25,117.0,1.000000,1.0
4,131.948232,0.006515,0.0,0.008143,0.000000,0.0,0.0,16.0,2.4,0.0,19.90,117.0,1.000000,1.0

In [30]:
df2.tail()

,LB,AC,FM,UC,DL,DS,DP,ASTV,MSTV,ALTV,MLTV,Width,Tendency,NSP
2121,140.0,0.000000,0.006416,0.007426,0.0,0.0,0.0,79.0,0.2,25.0,7.2,40.0,0.0,1.0
2122,140.0,0.000775,0.000000,0.006979,0.0,0.0,0.0,78.0,0.4,22.0,7.1,66.0,1.0,1.0
2123,140.0,0.000980,0.000000,0.006863,0.0,0.0,0.0,79.0,0.4,20.0,6.1,67.0,1.0,1.0
2124,140.0,0.000679,0.000000,0.006110,0.0,0.0,0.0,78.0,0.4,27.0,7.0,66.0,1.0,1.0
2125,142.0,0.001616,-0.000188,0.008078,0.0,0.0,0.0,74.0,0.4,27.5,5.0,42.0,0.0,1.0